


<div class="container">




<form action="./handleAddAsset" method="post">
    <div class="form-group">
      <label>Người sở hữu</label>
      <input type="text" class="form-control" name="owner" placeholder="Người sở hữu" value="<%= user.fullname%>" disabled>
    </div>
    <div class="form-group">
      <label>CMND/CCCD </label>
      <input type="text" class="form-control" name="idCard" placeholder="Nhập CMND/CCCD"  value="<%= user.idCard%>" disabled> 
    </div>
    <!-- <div class="form-group">
        <label>Giới tính</label>
        <input type="text" class="form-control" name="gender" placeholder="Nhập ">
      </div> -->
      <div class="form-group">
        <label>Hộ khẩu thường trú</label>
        <input type="text" class="form-control" name="hktt" placeholder="Nhập ">
      </div>
      <div class="form-group">
        <label>Thửa đất số</label>
        <input type="text" class="form-control" name="thuasodat" placeholder="Nhập ">
      </div>
      <div class="form-group">
        <label>Tờ bản đồ số	</label>
        <input type="text" class="form-control" name="tobandoso" placeholder="Nhập ">
      </div>
      <div class="form-group">
        <label>Diện tích (m2)</label>
        <input type="text" class="form-control" name="dientich" placeholder="Nhập ">
      </div>
      <div class="form-group">
        <label>Hình thức sử dụng</label>
        <input type="text" class="form-control" name="hinhthucsudung" placeholder="Nhập ">
      </div>
      <div class="form-group">
        <label>Mục đích sử dụng	</label>
        <input type="text" class="form-control" name="mucdichsudung" placeholder="Nhập ">
      </div>
      <div class="form-group">
        <label>Thời hạn sử dụng	</label>
        <input type="text" class="form-control" name="thoihansudung" placeholder="Nhập ">
      </div>
      <div class="form-group">
        <label>Nguồn gốc sử dụng	</label>
        <input type="text" class="form-control" name="nguongocsudung" placeholder="Nhập ">
      </div>
      
      <div class="form-group">
        <label>Thêm ảnh	</label>
         <input type="file" alt="Submit" width="48" height="48">
      </div>
     

    <button type="submit" class="btn btn-primary">Đăng ký</button>
  </form>

</div>

<div style="height: 100px;"></div>