


<%if(checkEmail){%>
    <p class="text-red-500">Người dùng này chính là bản thân bạn</p>
    <input type="hidden" id="checkUser" value="false">
<%}else{%>
    <% if(listUser.length > 0){ %>
        <p class="text-green-500">Họ tên: <%= listUser[0].fullname %></p>
        <p class="text-green-500">CMND/CCCD:  <%= listUser[0].idCard %></p>
        <input type="hidden" id="checkUser" value="true">
    <% }else{ %>
        <p class="text-red-500">Không có người dùng này</p>
        <input type="hidden" id="checkUser" value="false">
    <% } %>

<%}%>

