<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="/css/register.css"> -->
        <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/util.css">
	  <link rel="stylesheet" type="text/css" href="/css/main.css">  
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    
    <title>Land Administration</title>

    <style>

    </style>

</head>
<body>
 <div id="menu">
      <nav
        id="nav"
        class="container mx-auto flex items-center justify-between p-4 py-4 border-b border-gray-600"
      >
        <div>
          <a href="/"><img id="logo" src="/images/logo.png" alt="logo" style="height:50px;"/></a>
        </div>
        <div>
          <ul class="flex items-center">
            <a href="/#" id="notification">
                <i class="fa fa-bell" aria-hidden="true" style="color:green; font-size: 25px;" ></i>
                <span id="cartCount" class="text-white relative rounded-lg py-1 px-2 bg-red-700" style="position: relative; bottom: 10px;">1</span>
            </a>
            
            <li class="ml-12">
              <a href="/#products" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Đất của tôi</a>
            </li>
            <li class="ml-12">
              <a href="/contact" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Thêm mới</a>
            </li>

            <li class="ml-12 ">
              <form id="logout" action="/logout" method="post">
                <a onclick="document.getElementById('logout').submit()" class="nav-link" href="#"  style="font-size: 20px;">Thoát</a>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div  id="message" class="overflow-auto w-72 h-64 bg-gray-800" style="position: fixed; top:bottom; left: 60%;">
      <ul>
        <button>
          <li class="px-2 py-2 border-b-2 hover:bg-blue-500 text-white flex" > 
            <i class="fa fa-flag" aria-hidden="true"></i>
            <span class="px-2">lorem dasfasdfsasads asd sadsadasdsaadsafsadfsad sadasdsadsa</span>  
            <span class="text-green-500">NEW</span>
          </li>
        </button>
      </ul>
    </div>

      <!-- <div class="container" id="menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">LAND ADMINISTRATION</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
             <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Của tôi <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/addAsset">Thêm mới</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/transferLand">Chuyển quyền sở hữu</a>
                  </li>
                  <li class="nav-item">
                      <i class="fa fa-bell" aria-hidden="true" style="color:green"></i>
                  </li>
                  <li class="nav-item">
                    <form id="logout" action="/logout" method="post">
                      <a onclick="document.getElementById('logout').submit()" class="nav-link" href="#">Thoát</a>
                    </form>
                  </li>
                </ul>

              </div>

            
          

          </nav>
    </div> -->


  
    <%- body %>
    
</body>
</html>

<script>
  var checkShowMessage = false;
   document.getElementById("message").style.display = "none";
    document.getElementById("notification").addEventListener('click',function(){
      if(checkShowMessage){
        document.getElementById("message").style.display = "none";
        checkShowMessage = false;
        
      }else{
        document.getElementById("message").style.display = "block";
        checkShowMessage = true;
      }
   })
  </script>