



<div class="container">

<form action="./handleTransferLand" method="post">
      <div class="form-group">
      <label>Nhập mã cần chuyển: </label>
      <input type="text" class="form-control" name="key" placeholder="Nhập mã">
    </div>
    <div class="form-group">
      <label>Email người sở hữu mới: </label>
      <input type="text" class="form-control" name="email" placeholder="Nhập Người sở hữu mới">
    </div>
    <div class="form-group">
      <label>CMND/CCCD người sở hữu mới</label>
      <input type="text" class="form-control" name="idCard" placeholder="Nhập CMND/CCCD người sở hữu mới" > 
    </div>
    <div class="form-group">
    <label>Họ tên người sở hữu mới</label>
    <input type="text" class="form-control" name="owner" placeholder="Nhập họ tên người sở hữu mới">
    </div>

    <button type="submit" class="btn btn-primary">Xác Nhận</button>
  </form>

</div>

<div style="height: 100px;"></div>













