






<form id="formTransfer" action="/handleTransferLand" method="post" >
  <div class="form-group">
    <label>Mã đang được chuyển: </label>
    <input type="text" class="form-control w-64" name="key" id="keyLane" placeholder="Nhập mã" value="<%= key %>" disabled>
  </div>
  <div id="count">

  </div>
  <div id="error"></div>
  <button id="confirm" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Chuyển ngay</button>
  <!-- <button id="confirm" type="submit" class="btn btn-primary">Chuyển ngay</button> -->

</form>

</div>

<div id="recaptcha-container"></div>

<div style="height: 100px;"></div>

<script type="module" src="/js/transferLandClient.js"></script>

<script>

  $(document).ready(function(){
    $.ajax({url: "/addAssetFormOwner/1", success: function(result){
          $("#count").html(result);
        }});
  });
</script>
