


<div class="container">
    <h1>Ví : <%= balance %></h1>

    <div class="form-group">
        <label for="exampleInputEmail1">Mã nạp tiền / chuyển tiền</label>
        <input type="text" class="form-control" value="<%=acountIdToken%>" disabled >
    </div>

</div>










